<div class="loading-overlay" id="loading-overlay"></div>
<!-- Pace loader-->
<div class="pace" id="pace">
    <div class="pace-activity"></div>
</div>

<%- include('../navigation', {navMode: 'dark-back'}); %>

<!-- Main content-->
<main class="main" id="main">
<section class="section scrollspy ">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="page-detail">
          <h2 class="page-title center">پیشگیری از نقض حریم خصوصی کاربر</h2>
          <!--span class="page-subtitle center">Legal Information & Notices</span-->
        </div>
      </div>
      <div class="col s12"><hr></div>
      <div class="col s12 top-margin-content">
        <p class="typography-section">Gem Follow actively and aggressively enforces its intellectual property rights to the fullest extent of the law. Gem Follow works closely with the Business Software Alliance (BSA) and the Software Information Industry Association (SIIA) to combat software piracy worldwide.</p>
      </div>
      <div class="col s12">
        <h3 class="typography-subsection-headline">نقض حقوق نرم‌افزار</h3>
        <p class="typography-section">Software piracy (the illegal copying of software programs) is a worldwide problem — more than 11 billion Rials is lost to piracy every year. Because software is valuable, and it is easy to create an exact copy of a program from a single computer, software piracy is widespread.</p>
        <p class="typography-section">The illegal copying of software programs is a crime! In the United States and many other countries, copyright law provides for severe civil and criminal penalties for the unauthorized reproduction or distribution of copyrighted material. Copyrighted material includes, but is not limited to, computer programs and accompanying sounds, images and text. Under Iran law, infringement may result in civil damages of up to 150,000 Rials and/or criminal penalties of up to five years imprisonment and/or a 250,000 Rials fine.</p>
        <p class="typography-section">Please join Gem Follow in its piracy prevention efforts. You can report incidents of software piracy from this site at Report Piracy. Also, you can help your business avoid serious problems with sound software asset management practices as explained in the section below.</p>
      </div>
    </div>
  </div>
</section>
</main>
