<% var about = constants.general.about; %>

<section class="section scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12 l6 right">
                <h2>درباره ما</h2>
                <h3>ما را بهتر بشناسید</h3>
            </div>
            <div class="col s12 l6 right">
                <p class="flow-text about"><%= about %></p>
            </div>
        </div>
    </div>
</section>
