<div id="authorized-details" class="col s12 direction-rtl right">
  <h3 class="bold">بازنگری بر روی سرویس جدید</h3>
  <div class="col s9 margin-center right">
    <h4 class="bold">شما می‌توانید مطمئن شوید که حساب کاربری‌تان بدرستی متصل گردیده است.</h4>
    <div class="aside">
      <div class="photo">
        <div class="service-photo"></div>
      </div>
      <div class="details">
        <h3 class="bold"></h3>
      </div>
    </div>
  </div>
  <div class="col s12 center">
      <button class="btn btn-large btn-flat waves-effect blue-purple-gradient waves-dark white-text" data-hash-id="<%= currentUser._id %>" id="checkout-micro-service-btn" type="submit">پرداخت هزینه سرویس جدید</button>
  </div>
</div>
