<div id="hashtag-service-details" class="col s12 right direction-rtl">
  <h3 class="bold">هشتگ‌های مورد نظر خود را انتخاب نمایید</h3>
  <div class="col s9 margin-center right">
    <h4 class="bold">هشتگ‌ها و حساب‌های کاربری آنالیز‌شده پیشنهادی ما در زیر لیست شده‌اند.</h4>
    <hashtags>
      <div class="chips"></div>
      <div class="collection chips-dropdown"></div>
    </hashtags>
  </div>
  <div class="col s12 center">
      <button class="btn btn-large btn-flat waves-effect blue-purple-gradient waves-dark white-text" id="define-first-level-micro-service-btn" type="submit">تنظیمات مربوط به <span>سرویس مکان جغرافیایی</span></button>
  </div>
</div>
