<div id="location-service-details" class="col s12 right direction-rtl">
  <h3 class="bold">مختصات‌ جغرافیایی مورد نظر خود را وارد نمایید</h3>
  <div class="col s9 margin-center right">
    <h4 class="bold">مکان‌های جغرافیایی آنالیز‌شده پیشنهادی ما در زیر لیست شده است.</h4>
  </div>
  <div class="input-field col s9 margin-center right">
    <input id="location_search" type="text" class="dark-black-text validate">
    <i class="material-icons" id="search-location">search</i>
    <label class="dark-black-text" for="location_search">جستجوی مکان</label>
  </div>
  <div class="col s9 margin-center right">
    <div id="map"></div>
    <hashtags>
      <div class="chips"></div>
    </hashtags>
  </div>
  <div class="col s12 center">
      <button class="btn btn-large btn-flat waves-effect blue-purple-gradient waves-dark white-text" id="define-second-level-micro-service-btn" type="submit">تنظمیات مربوط به <span>سرویس زمان‌بندی</span></button>
  </div>
</div>
