<div id="period-service-details" class="col s12 direction-rtl right">
  <h3 class="bold">بازه زمانی مورد نظر خود را وارد نمایید</h3>
  <div class="col s9 margin-center right">
    <h4 class="bold">بازه‌های زمانی آنالیز‌شده پیشنهادی ما در زیر لیست شده است.</h4>
    <div id="target-periods"></div>
    <hashtags>
      <div class="chips"></div>
    </hashtags>
    <div id="set-period" class="hidden fixed-action-btn">
      <a class="btn-floating btn-large purple-heart-medium-light">
        <i class="large material-icons">done</i>
      </a>
    </div>
  </div>
  <div class="col s12 center">
      <button class="btn btn-large btn-flat waves-effect blue-purple-gradient waves-dark white-text" id="define-third-level-micro-service-btn" type="submit">احراز حساب کاربری</button>
  </div>
  <!-- Modal Structure -->
  <div id="period-modal" class="modal bottom-sheet modal-fixed-footer">
    <div class="modal-content">
      <h4>بازه زمانی</h4>
      <p></p>
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-gem btn-flat modal-set">تنظیم بازه زمانی</a>
    </div>
  </div>
  <input class="location-chips" type="hidden">
</div>
