<div id="service-plan-details" class="col s12 right direction-rtl">
  <h3 class="bold">جزئیات طرح مورد نظر خود را وارد نمایید</h3>
  <div class="col s9 margin-center">
    <h4 class="SPD-title bold">شما می‌توانید تعداد پیشفرض <span>۲۰۰۰</span> فالوئر هدف‌گذاری شده خود را تغییر دهید.</h4>
    <p class="range-field target-follower-obj">
      <div id="target-follower"></div>
    </p>
  </div>
  <div class="col s9 margin-center right direction-rtl" id="target-month">
    <h4 class="bold">شما می‌توانید بازه زمانی پیشفرض <span>۱ ماه</span> هدف‌گذاری شده خود را تغییر دهید.</h4>
    <p class="col s12 l3 right">
      <input name="target-month" type="radio" value="1 month" data-value-fa="۱ ماه" id="target-month-1" checked />
      <label for="target-month-1">۱ ماه</label>
    <p class="col s12 l3 right">
      <input name="target-month" type="radio" value="3 month" data-value-fa="۳ ماه" id="target-month-2" />
      <label for="target-month-2">۳ ماه</label>
    </p>
    <p class="col s12 l3 right">
      <input name="target-month" type="radio" value="6 Month" data-value-fa="۶ ماه" id="target-month-3"  />
      <label for="target-month-3">۶ ماه</label>
    </p>
    <p class="col s12 l3 right">
      <input name="target-month" type="radio" value="1 Year" data-value-fa="۱ سال" id="target-month-4" />
      <label for="target-month-4">۱ سال</label>
    </p>
    <p class="col s12 l3 right">
      <input name="target-month" type="radio" value="2 Year" data-value-fa="۲ سال" id="target-month-5" />
      <label for="target-month-5">۲ سال</label>
    </p>
  </div>
  <div style="clear: both"></div>
  <div class="col s9 margin-center right" id="target-micro-service">
    <h4 class="bold">حتی می‌توانید مایکروسرویس‌های مربوط به سرویس ایجاد شده را جداکانه تغییر دهید</h4>
    <p class="col s12 l3 right">
      <input type="checkbox" id="hashtag-based-setting-checkbox" checked="checked" />
      <label for="hashtag-based-setting-checkbox">تنظیمات مبتنی بر هشتگ</label>
    <p class="col s12 l3 right">
      <input type="checkbox" id="location-based-setting-checkbox" checked="checked" />
      <label for="location-based-setting-checkbox">تنظیمات مبتنی بر مکان جغرافیایی</label>
    </p>
    <p class="col s12 l3 right">
      <input type="checkbox" id="period-based-setting-checkbox" checked="checked" />
      <label for="period-based-setting-checkbox">تنظیمات مبتنی بر بازه زمانی</label>
    </p>
  </div>
  <div class="col s12 center">
      <button class="btn btn-large btn-flat waves-effect blue-purple-gradient waves-dark white-text" id="define-next-level-type-btn" type="submit">تعییر تنظیمات مربوط به  <span>مایکروسرویس‌ها</span></button>
  </div>
</div>
