<div id="service-chooser" class="col s12 right direction-rtl">
  <h3 class="bold">چه نوع سرویسی مورد نیاز شماست؟</h3>
  <div class="carousel" data-service-fa="اینستاگرام" data-service-en="Instagram">
    <a class="carousel-item" href="#" data-service-fa="اینستاگرام" data-service-en="Instagram">
      <div class="img purple-heart-dark">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
    </a>
    <!--a class="carousel-item" href="#" data-service-fa="توییتر" data-service-en="Twitter">
      <div class="img blue-purple">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </div>
    </a-->
  </div>
  <div class="col s12 center">
      <button class="btn btn-large btn-flat waves-effect blue-purple-gradient waves-dark white-text" id="choose-service-type-btn" type="submit">انتخاب سرویس <span>اینستاگرام</span></button>
  </div>
</div>
