<div id="media-upload-caption" class="col s12 right direction-rtl">
  <h3 class="bold service-title">نوشتن متن پست</h3>
  <div class="col s12 col-margin right">
    <div class="input-field col s12 right">
      <textarea id="scheduled-media-upload-caption" class="materialize-textarea"></textarea>
      <label for="scheduled-media-upload-caption">هر چیزی که در ذهن دارید&hellip;</label>
    </div>
  </div>
  <div class="col s12 center">
      <button disabled class="btn btn-large btn-flat waves-effect blue-purple-gradient waves-dark white-text disabled" id="media-upload-set-schedule-btn" type="submit">تنظیم زمان‌بندی پست</button>
  </div>

  <!-- Modal Structure -->
  <div id="link-request-modal" class="modal bottom-sheet modal-fixed-footer">
      <div class="collection chips-dropdown"></div>
  </div>
</div>
