<div id="media-upload-zone" class="col s12 right direction-rtl">
  <h3 class="bold service-title">انتخاب یک ایده</h3>
  <div class="col s12 col-margin right">
    <div id="scheduled-media-upload-zone"></div>
  </div>
  <div class="col s12 center">
      <button disabled class="btn btn-large btn-flat waves-effect blue-purple-gradient waves-dark white-text disabled" id="media-upload-write-caption-btn" type="submit">نوشتن متن پست&hellip;</button>
  </div>

  <!-- Modal Structure -->
  <div id="aspective-crop-modal" class="modal">
    <div class="modal-content">
      <img id="aspective-photo">
    </div>
    <div class="modal-footer">
      <button class="btn-floating btn-large waves-effect purple-heart-medium-light waves-light white-text" title="change the aspect ratio" id="media-upload-change-aspect-ratio-btn" type="submit"><i class="material-icons">aspect_ratio</i></button>
      <button class="modal-close btn-floating btn-large waves-effect purple-heart-medium-light waves-light white-text" title="Crop it" id="media-upload-crop-photo-btn" type="submit"><i class="material-icons">crop</i></button>
    </div>
  </div>
</div>
