<!-- Footer-->
<footer class="<%= footerMode %>">
    <div class="container">
        <div class="row">
            <div class="col s12 l4 margin-on-medium-and-down right direction-rtl">
              <ul>
                <li>
                  <span class="white-text">&copy; تمامی حقوق برای جم‌فالو محفوظ است</span>
                </li>
                <li>
                  <a class="underline white-text modal-trigger" href="/terms" data-slug="terms-conditions">شرایط استفاده</a>
                </li>
                <!--li>
                  <a class="underline white-text modal-trigger" href="/privacy" data-slug="terms-conditions">سیاست حفظ حریم خصوصی</a>
                </li-->
              </ul>
            </div>
            <div class="col s12 l4 margin-on-medium-and-down right direction-rtl">
                <ul>
                    <li>
                        <a class="underline white-text" href="#!">فیسبوک</a>
                    </li>
                    <li>
                        <a class="underline white-text" href="#!">توییتر</a>
                    </li>
                    <li>
                        <a class="underline white-text" href="#!">گیت‌هاب</a>
                    </li>
                </ul>
            </div>
            <div class="col s12 l4 margin-on-medium-and-down right direction-rtl">
                <!--<address>B R James, 30 W 47th St
                    <br>New York, NY 10036
                    <br>
                </address>
                <a class="underline" href="https://maps.google.com?daddr=B+R+James+30+W=47th+St+NY+10036" target="_blank">Get directions</a>&nbsp;(opens in new tab).-->
                <p>
                    <a class="underline white-text" href="mailto:info@gemfollow.net">info@gemfollow.net</a>
                    <br>
                    <a class="underline white-text" href="tel:989120243294">۳۲۹۴ ۰۲۴ ۹۱۲ ۹۸+</a>
                    <br>
                    <a class="underline white-text" href="https://t.me/Gem_follow">کانال تلگرام</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer-->
