<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include('heading', {base: './'}); %>
  </head>
  <body>

    <%- include('terms/content', {page: 'terms'}); %>

    <%- include('footer-content', {footerMode: 'blue-purple-gradient'}); %>

    <%- include('script', {trianglesMode: 'i', base: './'}); %>
  </body>
</html>
