<nav class="media-upload-page-handler direction-rtl">
  <div class="nav-wrapper">
    <div class="col s12 right">
      <a class="breadcrumb activated current" value="media-upload-zone">ایده پست</a>
      <a class="breadcrumb" value="media-upload-caption">متن پست</a>
      <a class="breadcrumb" value="media-upload-schedule">زمان‌بندی پست</a>
    </div>
  </div>
</nav>

<%- include('scheduled-media-upload/media-upload-tabs'); %>

<%- include('scheduled-media-upload/media-upload-zone'); %>

<%- include('scheduled-media-upload/media-upload-caption'); %>

<%- include('scheduled-media-upload/media-upload-schedule'); %>
