<div id="service-scheduled-media-calendar" class="col s12">
  <div class="col s12 col-margin">
    <div id="scheduled-media-calendar" data-hash="<%= service._id %>"></div>
  </div>

  <!-- Modal Structure -->
  <div id="change-event-modal" class="modal top-sheet modal-fixed-footer">
    <div class="modal-content">
      <h4>سر‌تیتر بازشونده</h4>
      <p>متن انتخابی</p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-red btn-flat change-disagree">نپذیرفتن</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat change-agree">پذیرفتن</a>
    </div>
  </div>
</div>
