<!-- Main content-->
<main class="main light-bg" id="main">
  <section class="section scrollspy">
    <div class="container">
      <div class="row">
        <%- include('credit/service-tabs'); %>

        <%- include('credit/credit-details'); %>

        <%- include('credit/gateway-chooser'); %>
      </div>
    </div>
  </section>
</main>
