<div class="loading-overlay" id="loading-overlay"></div>
<!-- Pace loader-->
<div class="pace" id="pace">
    <div class="pace-activity"></div>
</div>

<%- include('../navigation', {navMode: 'dark-back'}); %>

<!-- Main content-->
<main class="main bokeh-bg" id="main">
<section class="section scrollspy">
  <div class="container">
    <div class="row">
      <div id="forgotten" class="col s12 l7">
        <section class="section scrollspy">
          <div class="peoples-photo"></div>
          <h2 class="center">گذرواژه  فراموش‌شده</h2>
          <div class="container">
            <div class="row">
              <div class="col s12">
                  <div class="input-field">
                      <input class="black-text" id="email" type="email" name="email">
                      <label class="black-text" for="email">پست الکترونیک</label>
                  </div>
              </div>
              <div class="col s12 center">
                  <button class="btn btn-large btn-flat waves-effect blue-purple-gradient waves-dark white-text" id="forgotten-btn" type="submit">ارسال لینک ورود</button>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
</main>
