<div id="credit-details" class="col s12 right direction-rtl">
  <h3 class="bold">میزان افزایش موجودی را مشخص کنید</h3>
  <div class="col s9 margin-center right">
    <h4 class="SPD-title bold">شما می‌توانید رقم پیشفرض <span>۱۰۰۰۰ تومان</span> افزایش موجودی را تغییر دهید.</h4>
    <p class="range-field target-credit-obj">
      <div id="target-credit"></div>
    </p>
  </div>
  <div class="col s12 center">
      <button class="btn btn-large btn-flat waves-effect blue-purple-gradient waves-dark white-text credit-payment" id="choose-payment-gateway-btn" type="submit">انتخاب نوع درگاه پرداخت</button>
  </div>
</div>
