<div class="loading-overlay" id="loading-overlay"></div>
<!-- Pace loader-->
<div class="pace" id="pace">
    <div class="pace-activity"></div>
</div>

<%- include('../navigation', {navMode: 'dark-back'}); %>

<!-- Main content-->
<main class="main" id="main">
<section class="section scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="page-detail">
          <h2 class="page-title center">شرایط استفاده از جم فالو</h2>
          <span class="page-subtitle center">اطلاعات حقوقی و اطلاعیه‌ها</span>
        </div>
      </div>
      <div class="col s12"><hr></div>
      <div class="col s12 top-margin-content" style="direction: rtl;">
        <h3 class="typography-subsection-headline right-align">قوانین جامع</h3>
        <p class="typography-section right-align">
          جم‌فالو اجازه دارد قوانین سایت، ربات اینستاگرام و سیستم فیک را عوض کند. این تغییر قوانین شامل تمامی کاربران و حتی خریدهای فعال می شود . هرچند سعی می کنیم که این تغییر قوانین را به اطلاع شما برسانیم.
        </p>
        <p class="typography-section right-align">
          جم‌فالو با داشتن چهار صفحه مخصوص توضیح سرویسها و همچنین با وجود پشتیبانی ، وبلاگ و راهنما ، در رابطه با سرویس ها کاملا توضیحات مربوط را داده است . حتی برای تست ربات اینستاگرام نیازی به پرداخت وجه نیست و کاربران می توانند آنرا رایگان تست کنند ، لذا از عودت هر گونه وجه پرداخت شده یا تغییر سرویس خرید شده معذوریم . قبل از خرید تحقیقات لازم را به عمل بیاورید.
        </p>
        <p class="typography-section right-align">
          جم‌فالو موظف است به سوالات، شکایات، انتقادات و پیشنهادات شما طی حداکثر 48 ساعت پاسخ دهد اما استفاده از کلمات رکیک یا هرگونه بی ادبی نسبت به کارمندان جم‌فالو ، منجر به بسته شدن پنل شما و قطع کامل دسترسی از جم‌فالو می شود.
        </p>
        <p class="typography-section right-align">
          جم‌فالو به غیر از دامنه های drfollow.ir و drfollow.com هیچ آدرس دیگری ندارد . تنها راه های ارتباطی با جم‌فالو در سایت قید شده است . ما ارتباط خود را با هر شخص دیگری که ادعای وابستگی به ما دارد را تکذیب می کنیم . از طریق صفحه پشتیبانی با ما در ارتباط باشید.
        </p>
        <p class="typography-section right-align">
          تمامی اطلاعات پنل و اكانت های اضافه شده توسط كاربران ، محرمانه و تحت محافظت بوده و فقط برای خود آنها قابل مشاهده است.
        </p>
      </div>
      <div class="col s12" style="direction: rtl;">
        <h3 class="typography-subsection-headline right-align">قوانین ربات</h3>
        <p class="typography-section right-align">
          ربات جم‌فالو در فالو شدن شما دخالتی ندارد . سرعت جذب فالوور به محتوای اکانت و فیلترهای جستجو مرتبط است.
        </p>
        <p class="typography-section right-align">
          ربات جم‌فالو هیچ وابستگی به اینستاگرام ندارد و یک برنامه کاملا سوم شخص است . اینستاگرام قوانین مختص به خود را داشته که می توانید در سایت خودشان مطالعه کنید.
        </p>
        <p class="typography-section right-align">
          ربات تبلیغاتی اینستاگرام جم‌فالو تحت قوانین جمهوری اسلامی ایران فعالیت می كند . ما هیچ مسئولیتی در قبال محتوای اكانت های اضافه شده به سیستم نداریم البته در صورت مشاهده تخلف حتما برخورد خواهد شد.
        </p>
        <p class="typography-section right-align">
          ربات جم‌فالو تست شده ، بدون مشکل و غیرقابل شناسایی توسط اینستاگرام است به همین دلیل ما در قبال مشکلات احتمالی پیش آمده برای اکانت شما مسئولیتی نمی پذیریم.
        </p>
        <p class="typography-section right-align">
          برخی تنظیمات برای نوع اعتبار تضمینی غیرفعال و اجباری تا این اکانتها از تبلیغات بیشتری جذب ممکن را داشته باشند . برای اطلاعات بیشتر راهنما را مطالعه کنید.
        </p>
      </div>
      <div class="col s12" style="direction: rtl;">
        <h3 class="typography-subsection-headline right-align">تعاریف بازاریابی</h3>
        <p class="typography-section right-align">ورودی: دفعات بارگذاری سایت با لینک بازاریابی</p>
        <p class="typography-section right-align">ورودی خالص: دفعات بارگذاری سایت با لینک بازاریابی توسط آیپی های غیر یکسان</p>
        <p class="typography-section right-align">کاربران زیرمجموعه: کاربرانی که توسط لینک بازاریابی وارد سایت شده و ثبت نام کردند</p>
        <p class="typography-section right-align">اکانت زیرمجموعه: اکانتهایی که کاربران زیرمجموعه به ربات اینستاگرام جم‌فالو اضافه کردند</p>
        <p class="typography-section right-align">پرداخت موفق: پرداخت های آنلاین موفق توسط کاربران زیرمجموعه</p>
      </div>
      <div class="col s12" style="direction: rtl;">
        <h3 class="typography-subsection-headline right-align">قوانین بازاریابی</h3>
        <p class="typography-section right-align">سهم بازاریابان هنگام شروع فعالیت 20% از کل مبلغ تراکنش است . این درصد می تواند بر اساس مقدار فعالیت شما کمتر یا بیشتر شود.</p>
        <p class="typography-section right-align">برای تسویه حساب باید حداقل 2 هفته از فعالیت شما گذشته باشد و فعالیت شما تائید شود.</p>
        <p class="typography-section right-align">برای تائید شدن فعالیت به عنوان بازاریاب و تسویه حساب باید حداقل 100 ورودی خالص ، 20 کاربر زیرمجموعه ، 10 اکانت زیرمجموعه و 10 پرداخت موفق توسط کاربران زیرمجموعه داشته باشید.</p>
      </div>
    </div>
  </div>
</section>
</main>
